language: bash
services:
  - docker
sudo: required
env:
  global:
    - PSYKUBE_VERSION=v0.1.0-beta1
script: "true"
before_deploy:
  - CLOUDSDK_CORE_DISABLE_PROMPTS=true sudo gcloud components update kubectl
  - sudo chown -R $USER /home/travis/.config/gcloud
  - curl -sSL https://github.com/CommercialTribe/psykube/releases/download/$PSYKUBE_VERSION/psykube-linux-$PSYKUBE_VERSION.tar.gz | sudo tar -xzC /usr/local/bin
  - echo $GCLOUD_ENCODED_CREDS | base64 -d > /tmp/gcloud.json
  - gcloud auth activate-service-account $(jq -r ".client_email" /tmp/gcloud.json) --key-file=/tmp/gcloud.json

deploy:
  # ALWAYS Push branch to docker registry
  - provider: script
    script: gcloud docker --authorize-only && psykube push --tag $(echo $TRAVIS_BRANCH | sed "s|/|-|")
    on:
      all_branches: true
  # Push master as latest to docker registry
  - provider: script
    script: gcloud docker --authorize-only && psykube push --tag latest
    on:
      branch: master
  # Apply master to kubernetes production
  - provider: script
    script: gcloud container clusters get-credentials production && psykube apply production --namespace=apps
    on:
      branch: master
  # Apply develop to kubernetes staging
  - provider: script
    script: gcloud container clusters get-credentials staging && psykube apply staging --namespace=apps
    on:
      branch: develop
  # Apply feature/* to kubernetes staging on its own namespace
  - provider: script
    script: gcloud container clusters get-credentials staging && psykube apply staging --namespace=apps-$(echo $TRAVIS_BRANCH | sed "s|/|-|") --copy-namespace=apps
    on:
      branch: feature/*
